.desc_heading {
  height: 100px;
  width: 100%;
  border: 1px solid transparent;
  text-align: center;
}
.desc_inner_div {
  height: 100vh;
  width: 1000px;
  border: 1px solid transparent;
  margin: 2rem auto;
}
.doc_detail {
  display: flex;
}
.desc {
  height: auto;
  width: 100%;
  border: 1px solid transparent;
  margin-bottom: 2rem;
}
.path {
  margin-right: 20px;
}
.doc {
  margin-left: 20px;
}
